.spacing-right{
	margin-right: 300px;
	width: 150px;
}

.image-avatar{
	width: 200px; height: 200px;
	border-radius: 50%; 
}


ul.check > li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 10px 10px; 
	font-family: Helvetica, sans-serif;
}

ul.check > li:hover{
	cursor: pointer;
	background-color: #f5f5f0;
}

a#menu{
	text-decoration: none;
}

h3#currentQuestionNumberText{
	font-family: Western, cursive ;
	font-weight: bold;
	color: #1a1a1a;
}
span#timer{
	display: none; 
	margin-right: 30px;
	font-family: Western, cursive ;
	font-weight: bold;
	color: #1a1a1a;
}

h3#title-quiz{
	text-align: center; 
	color: #31678f; 
	background-color: #f2f5f7; 
	border-color: #bce8f1;
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    box-sizing: border-box;
}
ol > li.title-question{
	box-sizing: border-box;
    padding: 15px 10px 5px 10px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: list-item;
    text-align: -webkit-match-parent;
}
button#btn_submit, button#btn-refresh{
	display: none;
	margin-right: 30px; 
}
span#created_at{
	position: absolute; 
	font-weight: bold; 
	color: #bfb6b5; 
	bottom: 8px;
	right: 8px;
}
div a#btn-menu{
	float:left; 
	padding: 7px 15px;
	margin-left: 52px;
}
div#topic_id{
	width: 250px;
	height: 110px; 
	padding: 10px 19px 0px 19px;
	margin: 0px 6px 15px 8px;
}
